@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap");

:root {
  --navBG: #af2119;
  --navText: #fff;
}

body {
  background-color: #f7cc5d;
  background-image: url("/Nucba/Tarea/Js/E5-Renderizar-HTML/assets/bg.svg");
  font-family: "Ubuntu", sans-serif;
}
/* Navbar */
.navBar {
  background-color: var(--navBG);
  color: var(--navText);
  height: 70px;
}

.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

lord-icon {
  left: -50%;
}

.btnSearch {
  box-shadow: inset 0px 3px 11px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 6px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 4px 4px 5px #854629;
}
.btnSearch:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.btnSearch:active {
  position: relative;
  top: 1px;
}

/* Cards */
.cardsPizza {
  margin: 1rem;

  display: flex;
  justify-content: space-between;
}

#result {
  padding: 1rem;
  border-radius: 50px;
  background: linear-gradient(315deg, #ff8844, #f7cc5d);
  box-shadow: -20px -20px 60px #d0451b, 20px 20px 60px #ffff93;
}

/* Media Querys */

@media screen and (max-width: 1366px) {
  lord-icon {
    left: -47.5%;
  }
}

@media (max-width: 480px) {
  .navBarSearch {
    margin: -10px;
  }

  .navBarSearch .btnSearch {
    margin-top: 0.1rem;
  }
}
