@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap");

:root {
  --navBG: #af2119;
  --navText: #fff;
}

body {
  background-color: #f7cc5d;
  background-image: url("../assets/bg.svg");
  font-family: "Ubuntu", sans-serif;
}

/* Navbar */
.navBar {
  background-color: var(--navBG);
  color: var(--navText);
  height: 70px;
}

.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

lord-icon {
  left: -50%;
}

.btnSearch {
  box-shadow: inset 0px 3px 11px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 6px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 24px;
  text-decoration: none;
  text-shadow: 4px 4px 5px #854629;
}

.btnSearch:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

.btnSearch:active {
  position: relative;
  top: 1px;
}

/* Cards */
.main {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 2rem;
  max-width: 940px;
  margin: auto;
}

.error {
  background-color: var(--navBG);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
}

.container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  column-gap: 2rem;
}

.result-container {
  width: 320px;
  padding: 1rem;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  height: 400px;
  background-image: linear-gradient(to left top,
      #ffab4f,
      #fdb351,
      #fcbc54,
      #f9c458,
      #f7cc5d);
  box-shadow: 0px 10px 37px 8px rgba(0, 0, 0, 0.4);
}

.result-container h2 {
  font-family: "Ubuntu", sans-serif;
}

.result-container img {
  border-radius: 8px;
  max-width: 300px;
  max-height: 200px;
}

.imgDiv {
  width: 90%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.loader {
  border: 16px solid #f3f3f363;
  border-top: 16px solid var(--navBG);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}